In [1]:
!pip install nmslib

Collecting nmslib
  Downloading https://files.pythonhosted.org/packages/d5/fd/7d7428d29f12be5d1cc6d586d425b795cc9c596ae669593fd4f388602010/nmslib-2.0.6-cp36-cp36m-manylinux2010_x86_64.whl (12.9MB)
     |████████████████████████████████| 13.0MB 303kB/s
Collecting pybind11>=2.2.3
  Downloading https://files.pythonhosted.org/packages/89/e3/d576f6f02bc75bacbc3d42494e8f1d063c95617d86648dba243c2cb3963e/pybind11-2.5.0-py2.py3-none-any.whl (296kB)
     |████████████████████████████████| 296kB 44.7MB/s
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from nmslib) (5.4.8)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from nmslib) (1.18.4)
Installing collected packages: pybind11, nmslib
Successfully installed nmslib-2.0.6 pybind11-2.5.0

In [2]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 57kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 41.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=c35813e1c19f9bb75542386b495ca5cb5e83c9317c9a9be1583c4dfe5a6849dc
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 31 not upgraded.
Need to get 35.8 MB of archives.
After this operation, 140 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 144433 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u252-b09-1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u252-b09-1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u252-b09-1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u252-b09-1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u252-b09-1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u252-b09-1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [0]:
# Let's import the libraries we will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [0]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [0]:
data_path = '/content/drive/My Drive/Questions.csv'
max_user_id = 7045028

In [6]:
df = pd.read_csv(data_path, encoding="ISO8859-1")
df = df[['Id', 'Title', 'Body']]
df = df.assign(nId=lambda x: x.Id + max_user_id)
df = df.drop(['Id'], axis=1)

# df = df.assign(Text=lambda x: x.Title + x.Body)

df.head(5)

                                               Title  ...      nId
0  SQLStatement.execute() - multiple queries in o...  ...  7045108
1  Good branching and merging tutorials for Torto...  ...  7045118
2                                  ASP.NET Site Maps  ...  7045148
3                 Function for creating color wheels  ...  7045208
4  Adding scripting functionality to .NET applica...  ...  7045288

[5 rows x 3 columns]

In [7]:
df.shape

(1264216, 3)

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    ngram_range=(1, 2))
X_tfidf = tfidf.fit_transform(df['Title'])
X_tfidf

<1264216x2122845 sparse matrix of type '<class 'numpy.float64'>'
	with 19088550 stored elements in Compressed Sparse Row format>

In [12]:
import nmslib

index = nmslib.init(method='hnsw', space='cosinesimil_sparse', data_type=nmslib.DataType.SPARSE_VECTOR)
index.addDataPointBatch(X_tfidf)

1264216

In [0]:
index_time_params = {'M': 30, 'indexThreadQty': 8, 'efConstruction': 100, 'post' : 0}
index.createIndex(index_time_params)

In [0]:
nbrs = index.knnQueryBatch(X_tfidf, k = 10, num_threads = 8)

In [28]:
df.iloc[nbrs[1][0]][['nId']].to_numpy().reshape(10,)

array([18966058, 40364608, 13708008, 30403118, 11453198, 31125108,
       47094768, 17273208, 10005718, 24259698], dtype=int64)

In [55]:
from tqdm import tqdm
n_nbrs = {}
for nbr in tqdm(nbrs):
    arr = nbr[0]
    arr = df.iloc[arr][['nId']].to_numpy().reshape(10,)
    n_nbrs[arr[0]] = (arr[1:10], nbr[1][1:10])

100%|██████████| 1264216/1264216 [27:37<00:00, 762.64it/s]

In [53]:
df.iloc[nbrs[1][0]][['nId']]#.to_numpy().reshape(10,)

              nId
331440   18966058
1007509  40364608
171537   13708008
684043   30403118
106228   11453198
706816   31125108
1260222  47094768
278960   17273208
65689    10005718
493761   24259698

In [57]:
n_nbrs[18966058]

(array([13708008, 30403118, 47094768, 17273208, 38379108, 41365668,
        20442568, 11556268, 39515988], dtype=int64),
 array([0.96196026, 0.96255857, 0.9641801 , 0.9642187 , 0.96647877,
        0.96679944, 0.96706927, 0.96726704, 0.96742153], dtype=float32))

In [0]:
import pickle
with open('neighbors-10.pickle', 'wb') as handle:
    pickle.dump(n_nbrs, handle)

In [59]:
os.path.getsize('neighbors-10.pickle')

220253653

In [0]:
with open('neighbors-10.pickle', 'rb') as readin:
    b = pickle.load(readin)

In [61]:
b[18966058]

(array([13708008, 30403118, 47094768, 17273208, 38379108, 41365668,
        20442568, 11556268, 39515988]),
 array([0.96196026, 0.96255857, 0.9641801 , 0.9642187 , 0.96647877,
        0.96679944, 0.96706927, 0.96726704, 0.96742153], dtype=float32))

In [0]:
# from sklearn.neighbors import LSHForest

# lshf = LSHForest(n_neighbors=10)
# lsdf.fit(X_tfidf)

In [0]:
# encodings = df.apply(lambda x: [x.Id, model.encode(x.Title)], axis=1, result_type='expand')

In [0]:
# feature_vec = model.encode(df['Title'].tolist(), show_progress_bar=True, convert_to_numpy=True)